/NJTClient/target/
/NJTWS/target/
/mavenproject1/target/
/NJTRestWS/target/
/Test/nbproject/private/
/Test/build/
/WebApplication1/nbproject/private/
/course/course/target/
/course/target/
/course/
/Test/
/baza/bazaKraj.sql
/baza/bazaFinalna.sql
/baza/bazaNova.sql
/baza/bazaStara.sql
/Дипломски рад Душан Миленковић – kopija.docx